<h1 class="mt-5 text-center">Editar Empleado {{ empleado.nombre }}</h1>
<div class="container mt-5">
  <form>
    <div class="d-flex flex-row justify-content-around">
      <div>
        <label for="nombre" class="form-label">Nombre</label>
        <input [(ngModel)]="empleado.nombre" type="text" class="form-control" id="nombre" name="nombre">
      </div>

      <div>
        <label for="apellido" class="form-label">Apellido</label>
        <input [(ngModel)]="empleado.apellido" type="text" class="form-control" id="apellido" name="apellido">
      </div>

      <div>
        <label for="cargo" class="form-label">Cargo</label>
        <input [(ngModel)]="empleado.cargo" type="text" class="form-control" id="cargo" name="cargo">
      </div>

      <div>
        <label for="salario" class="form-label">Salario</label>
        <input [(ngModel)]="empleado.salario" type="number" class="form-control" id="salario" name="salario">
      </div>
    </div>
    <div class="text-center mt-4">
      <button (click)="actualizarEmpleado()" class="btn btn-primary">Editar Empleado</button>
    </div>
  </form>
</div>
<div class="container mt-5">
  <button (click)="volverHome()" class="btn btn-secondary">&larr; IR A INICIO</button>
</div>
