
<div class="ms-2">
  {{ indiceFilaTabla + 1 }}
  : {{ empleadoFilaTabla.nombre }}
  - {{ empleadoFilaTabla.apellido }} 
  - {{ empleadoFilaTabla.cargo }} 
  - {{ empleadoFilaTabla.salario }}

  <a [routerLink]="['/edit-empleado', indiceFilaTabla]" [queryParams]="{action:'edit'}" class="ms-3">
    Editar
  </a>
  <a [routerLink]="['/edit-empleado', indiceFilaTabla]" [queryParams]="{action:'delete'}" class="ms-3">
    Eliminar
  </a>
  <app-caracteristicas-empleado (caracteristicasEmpleado)="agregarCaracteristica($event)" class="w-50"></app-caracteristicas-empleado>
</div>
<div>
  <ul>
    <li *ngFor="let caracteristica of listaCaracteristicas">{{ caracteristica }}</li>
  </ul>
</div>

